TOKEN=<discord bot token>
ADMIN_ROLE_ID=<role of the administrators>
HACKER_ROLE_ID=<role of the hackers>
BOT_TESTING_CHANNEL_ID=<channel id where the bot will reply in the channel and not delete your command>
VERIFY_CHANNEL_ID=<channel id where users type in verification command>
DATA_SHEET_ID=<google sheets ID>
MYSQL_HOST=<mysql server host>
MYSQL_USER=<mysql server user>
MYSQL_DB=<mysql database name>
MYSQL_PASSWORD=<mysql user password>