TOKEN=<discord bot token>
BOT_TESTING_CHANNEL_ID=<channel id where the bot will reply in the channel and not delete your command>
VERIFY_CHANNEL_ID=<channel id where users type in verification command>
EVENT_NAME="Hack the 6ix
CONTACT_EMAIL="hello@hackthe6ix.com"
DB_CONN=""
ADMIN_ROLE_ID=""
